doctype html
html(lang='en')
  head
    // These meta tags come first.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap Theme Example
    // Include the CSS
    link(href='css/toolkit.min.css', rel='stylesheet')
  body
    h1 Hello, world!
    // Include jQuery (required) and the JS
    script(src='js/jquery.min.js')
    script(src='js/toolkit.min.js')
