doctype html
html(lang='en')
  head
    // These meta tags come first.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='Miguel Landa')
    title Titulo
    // Include the CSS
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic', rel='stylesheet')
    link(href='css/toolkit.min.css', rel='stylesheet')
    link(href='css/application.css', rel='stylesheet')
    link(href='css/nprogress.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/sweetalert.css')
  body.with-top-navbar
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid.container-fluid-spacious
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.navbar-brand-emphasized(href='#')
            span.icon.icon-leaf.navbar-brand-icon
            |   Dashboard
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='#') Real time status
    .container-fluid.container-fluid-spacious
      .dashhead.m-t-md
        .dashhead-titles
          h6.dashhead-subtitle Dashboards
          h2.dashhead-title Overview
        .btn-toolbar.dashhead-toolbar
          button#btnStartPreview.btn.btn-lg.btn-primary-outline(type='button' onclick='startPreview()') Start preview data
          button#btnStartSaving.btn.btn-lg.btn-primary-outline(type='button' onclick='startSaving()') Start saving data
      .hr-divider.m-t.m-b-md
        h3.hr-divider-content.hr-divider-heading Quick stats
      .row.text-center.m-t-lg
        .col-sm-6.m-b-md
          h3 Sensor 1 Accelerometer
          .w-full.m-x-auto
            #sensor1Acc(style='height: 300px; width:100%;')
        .col-sm-6.m-b-md
          h3 Sensor 1 Gyro
          .w-full.m-x-auto
            #sensor1Gyro(style='height: 300px; width:100%;')
      .row.text-center.m-t-lg
        .col-sm-6.m-b-md
          h3 Sensor 2 Accelerometer
          .w-full.m-x-auto
            #sensor2Acc(style='height: 300px; width:100%;')
        .col-sm-6.m-b-md
          h3 Sensor 2 Gyro
          .w-full.m-x-auto
            #sensor2Gyro(style='height: 300px; width:100%;')
        a#btnDownload.btn.btn-lg.btn-primary-outline(href='/downloadData', role='button') Download data
    // Include jQuery (required) and the JS
    script(src='js/jquery.min.js')
    script(src='js/toolkit.min.js')
    script(src='js/canvasjs.min.js')
    script(src='js/sweetalert.min.js')
    script(src='js/nprogress.js')
    script(src='js/funciones.js')
